secret.txt
*~
build/
.cache
.coverage
.coverage*
dist/
*.egg
*.egg-info/
htmlcov
jwt_sign_api_gw.egg-info/
MANIFEST
__pycache__/
*.py[cod]
.pytest_cache/
*.so
.tox
.venv/
.vscode/
*.pem
!*.enc.pem
server.crt
server.key
bearer
bearer.pub
generated_api
